<section id="blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">My Ramblings</h2>
                <p>This is where I write about stuff.  Stay awhile and listen...</p>
                <ul class="text-left">
                  {% for post in site.posts limit: 1 %}
                    <li>
                        <h2>{{ post.title }}</h2>
                        <p class="meta">{{ post.date | date_to_string }}</p>

                        <div class="post">
                        {{ post.content }}
                        </div>
                    </li>
                  {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="infinite-spinner"></div>
</section>
