<section class="bg-primary no-padding" id="about">
    <div class="container">
        <div class="row no-gutter">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="grid-container">
                    <div class="text-left about-text">
                        <h2 class="section-heading">This is me</h2>
                        <p></p>
                        <p>B.A.Sc in Mechanical Engineering</p>
                        <p>B.Ed in Physics and Math</p>
                        <a href="#services" class="btn btn-default btn-xl page-scroll">My Skills</a>
                    </div>
                    <div class="facepic">
                        <img src="img/prof.jpg" class="img-responsive" alt="A picture of Michael Shum">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
