<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">What I Love Doing</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-graduation-cap wow bounceIn text-primary"></i>
                    <h3>Educating</h3>
                    <p class="text-muted">I'm an experienced STEM educator, with 5 years of UK teaching experience.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-music wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Making Music</h3>
                    <p class="text-muted">I love music of all sorts, especially Classical, Celtic, Folk, Rock, and Metal!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-gamepad wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Gaming</h3>
                    <p class="text-muted">I play a wide variety of games across all platforms, my favourites being RPGs.  I also dabble in game making as a hobby!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-plane wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Travelling</h3>
                    <p class="text-muted">I love seeing new places and meeting new people, and capturing these awesome moments with my trusty camera.</p>
                </div>
            </div>
        </div>
    </div>
</section>
